<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>หน้าจอข้อมูลสมาชิก</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container borderpx">
      <div
        class="row py-2 px-2 borderpx"
        style="background-color: rgb(156, 221, 7);"
      >
        <div class="col">
          <h4 class="text-center">การลบข้อมูลผู้ใช้</h4>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col">
          <h4>ข้อมูลผู้ใช้ :</h4>
        </div>
      </div>
      <div class="row py-3 px-3">
        <div class="col py-2 px-2">
          ชื่อ : <%= name %>
          <br /><br />
          ตำแหน่ง : <%= position %>
        </div>
        <div class="col py-2 px-2">
          สกุล : <%= surname %>
        </div>
      </div>
      <div class="row px-3 pt-5">
        <div class="col"></div>
        <div class="col py-2 px-2">
          <a
            class="btn mybtn"
            id="save"            
            href="/deleteMember/<%= id %>"
            >ตกลง</a
          >
          <a class="btn mybtn2" id="cancel" href="/main">ยกเลิก</a>
        </div>
      </div>
    </div>
  </body>
  <style>
    p {
      font-weight: bolder;
    }
    .borderpx {
      border: 2px solid rgb(0, 0, 0);
    }
    .mybtn {
      background-color: rgb(132, 219, 81);
      border-radius: 4px;
      border-color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
      padding: 6px 28px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mybtn2 {
      background-color: rgb(209, 23, 23);
      border-radius: 4px;
      border-color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
      padding: 6px 28px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  <script>
    // $(function () {
    //   $('#cancel').click(function () {
    //     $('#div1').load('./memberControl.html')
    //   })
    // })

    function deleteMember (id) {
      $('#div1').load('./deleteMember/' + id)
    }
  </script>
</html>
