<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>หน้าจอข้อมูลสมาชิก</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container borderpx">
      <div class="row py-2 px-2 borderpx" style="background-color: rgb(156, 221, 7);">
        <div class="col">
          <h4 class="text-center">หน้าจอสมาชิก</h4>
        </div>
      </div>
      <div class="row py-3 px-3">
        <div class="col py-2 px-2">
          ชื่อ-สกุล : <%= name %> <%= surname %> 
          <br /><br />
          รหัสสมาชิก : <%= id %>
          <br /><br />
          ตำแหน่ง : <%= position %>
          <br /><br />
          เงินเดือน : <%= salary %> บาท
          <br /><br />
          ยอดขายทั้งหมด : <%= total_sale %> บาท
        </div>
        <div class="col py-2 px-2">
          Login วัน-เวลาล่าสุด : <%= login %>
          <br /><br />
          Logout วัน-เวลาล่าสุด : <%= logout %>
          <br /><br />
          จำนวนครั้งที่เข้าสู่ระบบ : <%= count %>
        </div>
      </div>
    </div>
  </body>
  <style>
    p {
      font-weight: bolder;
    }
    .borderpx {
      border: 2px solid rgb(0, 0, 0);
    }
    .mybtn {
      background-color: rgb(218, 255, 162);
      border-radius: 4px;
      border-color: rgb(164, 207, 85);
      font-size: 16px;
      font-weight: bold;
      padding: 6px 28px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
</html>
