<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member</title>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
</head>
<body>
  <div class="container">
    <div class="row py-5 px-5">
      <div class="col-4"></div>
      <div class="col-4 borderpx py-2 px-2">
        Name: <%= name %>
        <br>
        Age: <%= age %>
        <br>
        Movie: <%= movie %>
        <br>
        Email: <%= email %>
        <br><br>
        <button class="mybtn float-right" onclick="location.href='http://127.0.0.1:3000/login';">Login</button>
      </div>
</body>
<style>
  p {
    font-weight: bolder;
  }
  .borderpx {
    border: 5px solid rgb(59, 131, 197);
  }
  .mybtn {
    background-color: rgb(218, 255, 162);
    border-radius: 4px;
    border-color: rgb(164, 207, 85);
    font-size: 16px;
    font-weight: bold;
    padding: 6px 28px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
</style>
<script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>