<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>หน้าจอข้อมูลสมาชิก</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container borderpx">
      <div class="row py-2 px-2 borderpx" style="background-color: rgb(76, 182, 76);">
        <div class="col">
          <h4 class="text-center">หน้าจอสมาชิก</h1>
        </div>
      </div>
      <div class="row py-3 px-3">
        <div class="col py-2 px-2">
          ชื่อ-สกุล : <%= name %> <%= surname %> 
          <br /><br />
          รหัสสมาชิก : <%= id %>
          <br /><br />
          ตำแหน่ง : <%= position %>
          <br /><br />
          เงินเดือน : <%= salary %>.00 บาท
          <br /><br />
          ยอดขายทั้งหมด : <%= total_sale %>.00 บาท
        </div>
        <div class="col py-2 px-2">
          Login วัน-เวลาล่าสุด : <%= login %>
          <br /><br />
          Logout วัน-เวลาล่าสุด : <%= logout %>
          <br /><br />
          จำนวนครั้งที่เข้าสู่ระบบ : <%= count %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="mybtn float-right"
            onclick="location.href='http://127.0.0.1:3000/logout';"
          >
            LOGOUT
          </button>
        </div>
      </div>
    </div>
  </body>
  <style>
    p {
      font-weight: bolder;
    }
    .borderpx {
      border: 2px solid rgb(0, 0, 0);
    }
    .mybtn {
      background-color: rgb(218, 255, 162);
      border-radius: 4px;
      border-color: rgb(164, 207, 85);
      font-size: 16px;
      font-weight: bold;
      padding: 6px 28px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
